a:visited{
    color: #EAFFDA;
    text-decoration: none;
}
a:link{
    color: #EAFFDA;
    text-decoration: none;
}
.fonteTitulo {
    font-family: 'Open Sans', sans-serif;
    font-size: 5.8vw;
  }
  .fonteDescricao {
    font-family: 'Inter', sans-serif;
    color: #EAFFDA;
  }
  .corDeFundo {
    background-color: #363020;
  }
  .centralizarLista {
    text-align: center;
    list-style-position:inside;
    width: 100vw;
  }
  .centralizarTexto {
    text-align: center;
  }
  .centralizarImagem {
    display: block;
    margin-left: auto;
    margin-right: auto;        
  }
  .ItalicBold {
    font-style: italic;
    font-weight: bold;
  }
  .Titulos{
    color: #A49966;
  }      
  .subTitulos {
    font-family: 'Open sans', sans-serif;
    color: #A49966;
    font-size: 30px;
    text-align: center
  }
  .imagemCurva {
    margin-top: 50px;
    border-radius: 50%; 
    border: solid red 1px;
    padding: 20px;  
    width: 25vw;  
  }
  .buttom {
      padding:0.60vw ;
      background-color: #363020;
      color: antiquewhite;  
      border-radius: ;
      margin: 0.2%;
      font-size: 100%;
      border-radius: 0.4vw;
          
    }
    nav{
        padding: 0%;
    }
.buttom:hover{
  background-color: rgb(160, 102, 15);
  }    